         body{
           background-image:url("IP.jpg"); 
        }
        .header{          
            background-image:url("R5.jpg") ;
            display:flex;
            justify-content: center;
           

        }

        h1{
            color:rgb(243, 238, 248);
            background-image: url("bg.png");
            font-family: "Algerian";
            margin-left: 30px;
           

        }

        .grid{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        
        }
        h2{ 
            color:white;
            background-image: url("bg.png");
            text-align: center;
            text-shadow: tomato;
            text-decoration: violet;
            font-size: 30px;
            font-weight: 800;
            justify-content: center;
            display: flex;
        
        }
        h4,p{
            color:black;
            font-family:Serif;
            text-shadow: tomato;
            text-decoration: violet;
            font-size: 30px;
            font-weight: 800; 
            text-align: bottom;
            display: flex;
            
        }

        .footer{
            display:flex;
            justify-content:flex-end; 
        }
        
        .menu{
            
            margin-right: 30px;
            margin-top: 30px;

        }
        
        .menu a{ 
            margin-left: 30px;

        }

        a:link{
            color: yellow;
        }

        a:visited{
            color:red;
            font-family: "Bold";
            margin-block-end: 80px;

        }       

        .item{
            border:solid;
            border-radius: 55px;
            background-color:yellow;
            padding: 20px;
            width: 350px;
            font-family: 'Bold';
            justify-content: space-between;
            
        }

        .item p{
           text-align: left;
           
        }

        .item img{
            border:solid;
            border-width:thick ;
            border-radius: 50px;
            border-color: black;
            background-color: rgb(255, 30, 0);
            display: flex;
        }

        .item:hover p{
            opacity: 1;
            
        }

         
        

        
         